# Sequence Operations
Sequences behave specifically with some operators. 
We will use the following three sequences to run operations in them:

In [2]:
my_string_sequence = 'I am a string sequence'
my_list_sequence = [23, False, 'Hello World', ['Nested', True, 12, 2.2]]
my_tuple_sequence = (21, True, 'Hello-World', ['Nested', True, 12, 2.2])

## Sequence concatenation (+ operator):
'+' combines two sequences in a process called concatenation. For example, [1,2,3]+[4,5] will evaluate to [1,2,3,4,5].

In [3]:
# String concatenation:
another_string = 'I am a second string'
new_string = my_string_sequence + ' ' + another_string
print(new_string)

I am a string sequence I am a second string

In [4]:
# List Concatenation
another_list = ['world', 21 ]
new_list = my_list_sequence + another_list
print(new_list)

[23, False, 'Hello World', ['Nested', True, 12, 2.2], 'world', 21]

In [5]:
# Tuple Concatenation 
another_tuple = ('world', 21)
new_tuple = my_tuple_sequence + another_tuple
print(new_tuple)

(21, True, 'Hello-World', ['Nested', True, 12, 2.2], 'world', 21)

> **Note:** We cannot mix different sequences in concatenation. So `print(my_string_sequence + my_list_sequence)` will throw an error. To overcome this, we can use typecasting to convert one of the variable type to match the other one during concatenation. 
>
> For example, convert string to list() before concatenating to another list. string to list conversion breaks up the string's characters into separate list indices

In [6]:
print(list(my_string_sequence)) # after conversion of string to list 
print(list(my_string_sequence) + my_list_sequence) # after concat

['I', ' ', 'a', 'm', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g', ' ', 's', 'e', 'q', 'u', 'e', 'n', 'c', 'e']
['I', ' ', 'a', 'm', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g', ' ', 's', 'e', 'q', 'u', 'e', 'n', 'c', 'e', 23, False, 'Hello World', ['Nested', True, 12, 2.2]]

> Or convert list to str() before concatenating to another string. list to string conversion converts the list structure into one single string

In [7]:
print(str(my_list_sequence)) # conversion of list to string. NOte that the output looks like a list but is actually a string.
print(my_string_sequence + str(my_list_sequence))

In [7]:
> **Note:** range() does not support sequence concatenation. It throws an error:
>        
>  TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [23]:
my_range = range(10)
my_range_2 = range(10, 20)
# my_range + my_range_2

TypeError: unsupported operand type(s) for +: 'range' and 'range'

## Sequence Repetition (* operator)
'\*' repeats a sequence a (positive integral) number of times. For example, [1, 11]*3 will evaluate to [1, 11, 1, 11, 1, 11].

In [8]:
new_string = my_string_sequence * 3
print(new_string)

I am a string sequenceI am a string sequenceI am a string sequence

In [9]:
new_list = my_list_sequence * 3
print(new_list)

[23, False, 'Hello World', ['Nested', True, 12, 2.2], 23, False, 'Hello World', ['Nested', True, 12, 2.2], 23, False, 'Hello World', ['Nested', True, 12, 2.2]]

In [10]:
new_tuple = my_tuple_sequence * 3
print(new_tuple)

(21, True, 'Hello-World', ['Nested', True, 12, 2.2], 21, True, 'Hello-World', ['Nested', True, 12, 2.2], 21, True, 'Hello-World', ['Nested', True, 12, 2.2])

> **Note** \* works with a positive 'int' greater than 0. 
>
>Using a zeroor negative number will return an empty object of the same type. 
>
> Using a float ie `my_string_sequence * 2.4` will throw an error **TypeError: can't multiply sequence by non-int of type 'float'**
>
> For example:

In [11]:
print(my_string_sequence * -2)

In [12]:
print(my_list_sequence * -3)

[]

In [13]:
print(my_tuple_sequence * -3)

()

In [14]:
print(my_list_sequence * 0)

> **Note:** range() does not support sequence multiplication. It throws an error:
>        
>  TypeError: unsupported operand type(s) for *: 'range' and 'range'

In [24]:
my_range = range(10)
my_range_2 = range(10, 20)
# my_range * my_range_2

TypeError: unsupported operand type(s) for *: 'range' and 'range'

# Sequence Membership Operators ('in' and 'not in')
x in mySeq will return 'True' if x is an element of mySeq, and 'False' otherwise. 
You can negate this statement with either `not (x in mySeq)` or `x not in mySeq`.

In [15]:
# String:
my_string_sequence = 'I am a string sequence'
print('I am' in my_string_sequence )

True

In [16]:
print('I am lumber ONE' in my_string_sequence )

False

In [17]:
print('I am lumber ONE' not in my_string_sequence )

True

In [18]:
# List:
my_list_sequence = [23, False, 'Hello World', ['Nested', True, 12, 2.2]]
print('Hello World' in my_list_sequence )
print(['Nested', True, 12, 2.2] in my_list_sequence )

True
True

In [19]:
print('Hello World' not in my_list_sequence )

False

In [21]:
# range
my_range = range(10) # generate a range of numbers from 0 to 9
print(1 in my_range)

True