In [ ]:
# 1 Comments in Python are written with a special character, which one?
#This is a comment

In [ ]:
# 2 Use a multiline string to make the a multi line comment:
'''
This is a comment
written in
more that just one line
'''

In [2]:
# 3 Create a variable named carname and assign the value Volvo to it.
carname = 'volvo'

In [3]:
# 4 Display the sum of 5 + 10, using two variables: x and y. (Replace the question marks ?)
x = 5
y = 10
print(x + y)

15

In [ ]:
# 5 Create a variable called z, assign x + y to it, and display the result.
x = 5
y = 10
z = x + y
print(z)

In [7]:
# 6 Remove the illegal characters in the variable name:
myfirst_name = "John"

In [6]:
# 7 Insert the correct syntax to assign the same value to all three variables in one code line.
x=y=z="Orange"

In [9]:
# 8 print the data type of the following variables
a = 5
b = "Hello World"
c = 0.123
d = ["apple", "banana", "cherry"]
e = ("apple", "banana", "cherry")
f = {"name" : "John", "age" : 36}
g = True

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>

In [12]:
# 9 Insert the correct syntax to convert x into a floating point number.
x = 5
x = float(x)
print(x)

5.0

In [13]:
# 10 Insert the correct syntax to convert x into a integer.
x = 5.5
x = int(x)
print(x)

5

In [15]:
# 11 Insert the correct syntax to convert x into a complex number.\
x = 5
x = complex(x)
print(x)

(5+0j)

In [16]:
# 12 Use the correct comparison operator to check if 5 is not equal to 10 and print True.
print(5 != 10)

True

In [10]:
# 13 Change the value from "apple" to "kiwi", in the fruits list.
fruits = ["apple", "banana", "cherry"]
fruits[0] = 'kiwi'
print(fruits)

In [33]:
my_dict = {'a': [1, (2, 3)],
           1: 'I love python',
           'my key': 'my value',
           'a dict': ({'another_key': 34}, {'another_key_2': 'saquib'})
           }

print(my_dict)
# 14 Create the above dictionary (my_dict) using the dict() constructor method using the following variables
# Use the following variables only. Do not use direct values. You can use as many statements/steps as you want
var_1 = 'a'
var_2 = 1
var_3 = 2
var_4 = 3
var_5 = 'I love python'
var_6 = 'my key'
var_7 = 'my value'
var_8 = 'a dict'
var_9 = 'another_key'
var_10 = 34
var_11 = 'another_key_2'
var_12 = 'saquib'

my_dict2 = dict()
firstele_tuple = tuple([2,3])
# print(firstele_tuple)
firstele_list = list([1, firstele_tuple])
# print(firstele_list)
# my_dict2 = {var_1: firstele_list}
# my_dict2 = dict( var_1 = firstele_list)
my_dict2[var_1] = firstele_list
my_dict2 = {var_2: 'I love python'}
print(my_dict2)

{'a': [1, (2, 3)], 1: 'I love python', 'my key': 'my value', 'a dict': ({'another_key': 34}, {'another_key_2': 'saquib'})}
{1: 'I love python'}

In [19]:
my_list = ['suna', # 0
           'nahi',  # 1
           'wo', # 2
           'Jo', # 3
           'maine', # 4 
           'tha,', # 5
           'Kaha', # 6
           'Tha', # 7
           'such', # 8
           ' '] # 9
# 15 Please use the above list to print:
# Jo Kaha tha maine such tha, Jo suna tha wo nahi Tha
print(my_list[3]+
      my_list[9]+
      my_list[6]+
      my_list[9]+
      my_list[7]+
      my_list[9]+
      my_list[4]+
      my_list[9]+
      my_list[8]+
      my_list[9]+
      my_list[5]+
      my_list[9]+
      my_list[3]+
      my_list[9]+
      my_list[0]+
      my_list[9]+
      my_list[7]+
      my_list[9]+
      my_list[2]+
      my_list[9]+
      my_list[1]+
      my_list[9]+
      my_list[7)

Jo Kaha Tha maine such tha, Jo suna Tha wo nahi tha,