Q1: Print the first 10 numbers starting from 0 (using while loop)

Expected output:
0
1
2
3
4
5
6
7
8
9
10

In [1]:
i = 0
while i <= 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

Q2: Do the same as previous question but using a for loop (and range())

In [2]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

Q3: Accept number input from user and calculate sum of all number starting from 1 to the entered number (Use for and range)
For example, if user entered 10 the output should be 55.

In [3]:
'''
sum1 = 0
n = int(input("Please enter number "))
for i in range(1, n + 1, 1):
    sum1 += i
print("\n")
print("Sum is: ", sum1)
'''

'\nsum1 = 0\nn = int(input("Please enter number "))\nfor i in range(1, n + 1, 1):\n    sum1 += i\nprint("\n")\nprint("Sum is: ", sum1)\n'

Q4: Display a user inputed number and it's cube. Start cube calculation from 1 all the way to the inputed number (Use for and range)
Given:
input_number = 5

Expected output:
Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125

In [4]:
input_number = 6
for i in range(1, input_number + 1):
    print("Current Number is :", i, " and the cube is", (i * i * i))

Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216

Q5 Print the following pattern (Use nested for - twice)
```
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*
```

In [5]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Q6 Reverse a given integer number or string (use while)
Given:
309871

Expected output:

178903

In [6]:
num = 76542
reverse_number = 0
print("Given Number ", num)
while num > 0:
    reminder = num % 10
    reverse_number = (reverse_number * 10) + reminder
    num = num // 10
print("Revered Number ", reverse_number)

Given Number  76542
Revered Number  24567

# FUNCTIONS

Q7: Create a function that can accept two arguments, 'name' and 'age' and print their value:

In [7]:
def demo(name, age):
    print(name, age)

demo("Ben", 25)

Ben 25

Q8: Write a function my_func() which can accept any quantity of arguments and print all the arguments' values
Examnple:
func1(20, 40, 60)
func1(80, 100)

output:
func1(20, 40, 60)
20
40
60

func1(80, 100)
80
100

In [8]:
def func1(*args):
    for i in args:
        print(i)

func1(20, 40, 60)
func1(80, 100)

20
40
60
80
100

Q9: Create a function showEmployeeDetails() which should accept name, and salary and display both. If the salary is missing in the function call, it should show a default value of 9000 

For example:
showEmployeeDetails("Zia", 9000)
showEmployeeDetails("Tahir")

Output:
Employee Zia salary is: 9000
Employee Tahir salary is: 9000

In [9]:
def showEmployee(name, salary=9000):
    print("Employee", name, "salary is:", salary)

showEmployee("Ben", 9000)
showEmployee("Ben")

Employee Ben salary is: 9000
Employee Ben salary is: 9000

Q10: Create a function returnMax() that returns the largest item from the given list

aList = [4, 6, 8, 24, 12, 2]

Example:
max_val = returnMax(aList)
print(max_val)

Output:
24

In [10]:
def returnMax(list_param):
    return max(list_param)

def returnMax2(list_param):
    i=0
    max_item=0
    for item in list_param:
        if item>max_item:
            max_item=item
    return max_item

aList = [4, 6, 8, 24, 12, 2]
max_val = returnMax2(aList)
print(max_val)

24