csv, json and xml files are basically text files formatted in a specific way and have separate extensions. 

Therefore, can use python's builtin open() method to to get an extIOWrapper. This object can be passed on to specific read/ write functions which are programmed to read data as per the respective schema. We will discuss them below:

##  CSV module
Python comes built-in with a module called csv which makes it easy for us to process data in csv files.

In [11]:
import csv

with open('./files/cities.csv') as csv_file:
    print(csv_file)
    
    obj_csv_reader = csv.reader(csv_file, delimiter=',')
    print(obj_csv_reader)
    
    
    line_count = 0
    for row in obj_csv_reader:
        #print('PRINT ROW: ')
        #print(type(row))
        #print(row)
        
        if line_count == 0:
            print(f'Column names are {", ".join(row)}')
            line_count += 1
        else:
            print(f'\t The city, {row[8]} is in {row[9]} state.')
            line_count += 1
            
    print(f'Processed {line_count} lines.')

<_io.TextIOWrapper name='./files/cities.csv' mode='r' encoding='cp1252'>
<_csv.reader object at 0x0000020B32820700>
PRINT ROW:
<class 'list'>
['LatD', ' "LatM"', ' "LatS"', ' "NS"', ' "LonD"', ' "LonM"', ' "LonS"', ' "EW"', ' "City"', ' "State"']
Column names are LatD,  "LatM",  "LatS",  "NS",  "LonD",  "LonM",  "LonS",  "EW",  "City",  "State"
PRINT ROW:
<class 'list'>
['   41', '    5', '   59', ' "N"', '     80', '   39', '    0', ' "W"', ' "Youngstown"', ' OH']
	 The city,  "Youngstown" is in  OH state.
PRINT ROW:
<class 'list'>
['   42', '   52', '   48', ' "N"', '     97', '   23', '   23', ' "W"', ' "Yankton"', ' SD']
	 The city,  "Yankton" is in  SD state.
PRINT ROW:
<class 'list'>
['   46', '   35', '   59', ' "N"', '    120', '   30', '   36', ' "W"', ' "Yakima"', ' WA']
	 The city,  "Yakima" is in  WA state.
PRINT ROW:
<class 'list'>
['   42', '   16', '   12', ' "N"', '     71', '   48', '    0', ' "W"', ' "Worcester"', ' MA']
	 The city,  "Worcester" is in  MA state.
PRINT ROW:
<class 'list'>
['   43', '   37', '   48', ' "N"', '     89', '   46', '   11', ' "W"', ' "Wisconsin Dells"', ' WI']
	 The city,  "Wisconsin Dells" is in  WI state.
PRINT ROW:
<class 'list'>
['   36', '    5', '   59', ' "N"', '     80', '   15', '    0', ' "W"', ' "Winston-Salem"', ' NC']
	 The city,  "Winston-Salem" is in  NC state.
PRINT ROW:
<class 'list'>
['   49', '   52', '   48', ' "N"', '     97', '    9', '    0', ' "W"', ' "Winnipeg"', ' MB']
	 The city,  "Winnipeg" is in  MB state.
PRINT ROW:
<class 'list'>
['   39', '   11', '   23', ' "N"', '     78', '    9', '   36', ' "W"', ' "Winchester"', ' VA']
	 The city,  "Winchester" is in  VA state.
PRINT ROW:
<class 'list'>
['   34', '   14', '   24', ' "N"', '     77', '   55', '   11', ' "W"', ' "Wilmington"', ' NC']
	 The city,  "Wilmington" is in  NC state.
PRINT ROW:
<class 'list'>
['   39', '   45', '    0', ' "N"', '     75', '   33', '    0', ' "W"', ' "Wilmington"', ' DE']
	 The city,  "Wilmington" is in  DE state.
PRINT ROW:
<class 'list'>
['   48', '    9', '    0', ' "N"', '    103', '   37', '   12', ' "W"', ' "Williston"', ' ND']
	 The city,  "Williston" is in  ND state.
PRINT ROW:
<class 'list'>
['   41', '   15', '    0', ' "N"', '     77', '    0', '    0', ' "W"', ' "Williamsport"', ' PA']
	 The city,  "Williamsport" is in  PA state.
PRINT ROW:
<class 'list'>
['   37', '   40', '   48', ' "N"', '     82', '   16', '   47', ' "W"', ' "Williamson"', ' WV']
	 The city,  "Williamson" is in  WV state.
PRINT ROW:
<class 'list'>
['   33', '   54', '    0', ' "N"', '     98', '   29', '   23', ' "W"', ' "Wichita Falls"', ' TX']
	 The city,  "Wichita Falls" is in  TX state.
PRINT ROW:
<class 'list'>
['   37', '   41', '   23', ' "N"', '     97', '   20', '   23', ' "W"', ' "Wichita"', ' KS']
	 The city,  "Wichita" is in  KS state.
PRINT ROW:
<class 'list'>
['   40', '    4', '   11', ' "N"', '     80', '   43', '   12', ' "W"', ' "Wheeling"', ' WV']
	 The city,  "Wheeling" is in  WV state.
PRINT ROW:
<class 'list'>
['   26', '   43', '   11', ' "N"', '     80', '    3', '    0', ' "W"', ' "West Palm Beach"', ' FL']
	 The city,  "West Palm Beach" is in  FL state.
PRINT ROW:
<class 'list'>
['   47', '   25', '   11', ' "N"', '    120', '   19', '   11', ' "W"', ' "Wenatchee"', ' WA']
	 The city,  "Wenatchee" is in  WA state.
PRINT ROW:
<class 'list'>
['   41', '   25', '   11', ' "N"', '    122', '   23', '   23', ' "W"', ' "Weed"', ' CA']
	 The city,  "Weed" is in  CA state.
PRINT ROW:
<class 'list'>
['   31', '   13', '   11', ' "N"', '     82', '   20', '   59', ' "W"', ' "Waycross"', ' GA']
	 The city,  "Waycross" is in  GA state.
PRINT ROW:
<class 'list'>
['   44', '   57', '   35', ' "N"', '     89', '   38', '   23', ' "W"', ' "Wausau"', ' WI']
	 The city,  "Wausau" is in  WI state.
PRINT ROW:
<class 'list'>
['   42', '   21', '   36', ' "N"', '     87', '   49', '   48', ' "W"', ' "Waukegan"', ' IL']
	 The city,  "Waukegan" is in  IL state.
PRINT ROW:
<class 'list'>
['   44', '   54', '    0', ' "N"', '     97', '    6', '   36', ' "W"', ' "Watertown"', ' SD']
	 The city,  "Watertown" is in  SD state.
PRINT ROW:
<class 'list'>
['   43', '   58', '   47', ' "N"', '     75', '   55', '   11', ' "W"', ' "Watertown"', ' NY']
	 The city,  "Watertown" is in  NY state.
PRINT ROW:
<class 'list'>
['   42', '   30', '    0', ' "N"', '     92', '   20', '   23', ' "W"', ' "Waterloo"', ' IA']
	 The city,  "Waterloo" is in  IA state.
PRINT ROW:
<class 'list'>
['   41', '   32', '   59', ' "N"', '     73', '    3', '    0', ' "W"', ' "Waterbury"', ' CT']
	 The city,  "Waterbury" is in  CT state.
PRINT ROW:
<class 'list'>
['   38', '   53', '   23', ' "N"', '     77', '    1', '   47', ' "W"', ' "Washington"', ' DC']
	 The city,  "Washington" is in  DC state.
PRINT ROW:
<class 'list'>
['   41', '   50', '   59', ' "N"', '     79', '    8', '   23', ' "W"', ' "Warren"', ' PA']
	 The city,  "Warren" is in  PA state.
PRINT ROW:
<class 'list'>
['   46', '    4', '   11', ' "N"', '    118', '   19', '   48', ' "W"', ' "Walla Walla"', ' WA']
	 The city,  "Walla Walla" is in  WA state.
PRINT ROW:
<class 'list'>
['   31', '   32', '   59', ' "N"', '     97', '    8', '   23', ' "W"', ' "Waco"', ' TX']
	 The city,  "Waco" is in  TX state.
PRINT ROW:
<class 'list'>
['   38', '   40', '   48', ' "N"', '     87', '   31', '   47', ' "W"', ' "Vincennes"', ' IN']
	 The city,  "Vincennes" is in  IN state.
PRINT ROW:
<class 'list'>
['   28', '   48', '   35', ' "N"', '     97', '    0', '   36', ' "W"', ' "Victoria"', ' TX']
	 The city,  "Victoria" is in  TX state.
PRINT ROW:
<class 'list'>
['   32', '   20', '   59', ' "N"', '     90', '   52', '   47', ' "W"', ' "Vicksburg"', ' MS']
	 The city,  "Vicksburg" is in  MS state.
PRINT ROW:
<class 'list'>
['   49', '   16', '   12', ' "N"', '    123', '    7', '   12', ' "W"', ' "Vancouver"', ' BC']
	 The city,  "Vancouver" is in  BC state.
PRINT ROW:
<class 'list'>
['   46', '   55', '   11', ' "N"', '     98', '    0', '   36', ' "W"', ' "Valley City"', ' ND']
	 The city,  "Valley City" is in  ND state.
PRINT ROW:
<class 'list'>
['   30', '   49', '   47', ' "N"', '     83', '   16', '   47', ' "W"', ' "Valdosta"', ' GA']
	 The city,  "Valdosta" is in  GA state.
PRINT ROW:
<class 'list'>
['   43', '    6', '   36', ' "N"', '     75', '   13', '   48', ' "W"', ' "Utica"', ' NY']
	 The city,  "Utica" is in  NY state.
PRINT ROW:
<class 'list'>
['   39', '   54', '    0', ' "N"', '     79', '   43', '   48', ' "W"', ' "Uniontown"', ' PA']
	 The city,  "Uniontown" is in  PA state.
PRINT ROW:
<class 'list'>
['   32', '   20', '   59', ' "N"', '     95', '   18', '    0', ' "W"', ' "Tyler"', ' TX']
	 The city,  "Tyler" is in  TX state.
PRINT ROW:
<class 'list'>
['   42', '   33', '   36', ' "N"', '    114', '   28', '   12', ' "W"', ' "Twin Falls"', ' ID']
	 The city,  "Twin Falls" is in  ID state.
PRINT ROW:
<class 'list'>
['   33', '   12', '   35', ' "N"', '     87', '   34', '   11', ' "W"', ' "Tuscaloosa"', ' AL']
	 The city,  "Tuscaloosa" is in  AL state.
PRINT ROW:
<class 'list'>
['   34', '   15', '   35', ' "N"', '     88', '   42', '   35', ' "W"', ' "Tupelo"', ' MS']
	 The city,  "Tupelo" is in  MS state.
PRINT ROW:
<class 'list'>
['   36', '    9', '   35', ' "N"', '     95', '   54', '   36', ' "W"', ' "Tulsa"', ' OK']
	 The city,  "Tulsa" is in  OK state.
PRINT ROW:
<class 'list'>
['   32', '   13', '   12', ' "N"', '    110', '   58', '   12', ' "W"', ' "Tucson"', ' AZ']
	 The city,  "Tucson" is in  AZ state.
PRINT ROW:
<class 'list'>
['   37', '   10', '   11', ' "N"', '    104', '   30', '   36', ' "W"', ' "Trinidad"', ' CO']
	 The city,  "Trinidad" is in  CO state.
PRINT ROW:
<class 'list'>
['   40', '   13', '   47', ' "N"', '     74', '   46', '   11', ' "W"', ' "Trenton"', ' NJ']
	 The city,  "Trenton" is in  NJ state.
PRINT ROW:
<class 'list'>
['   44', '   45', '   35', ' "N"', '     85', '   37', '   47', ' "W"', ' "Traverse City"', ' MI']
	 The city,  "Traverse City" is in  MI state.
PRINT ROW:
<class 'list'>
['   43', '   39', '    0', ' "N"', '     79', '   22', '   47', ' "W"', ' "Toronto"', ' ON']
	 The city,  "Toronto" is in  ON state.
PRINT ROW:
<class 'list'>
['   39', '    2', '   59', ' "N"', '     95', '   40', '   11', ' "W"', ' "Topeka"', ' KS']
	 The city,  "Topeka" is in  KS state.
PRINT ROW:
<class 'list'>
['   41', '   39', '    0', ' "N"', '     83', '   32', '   24', ' "W"', ' "Toledo"', ' OH']
	 The city,  "Toledo" is in  OH state.
PRINT ROW:
<class 'list'>
['   33', '   25', '   48', ' "N"', '     94', '    3', '    0', ' "W"', ' "Texarkana"', ' TX']
	 The city,  "Texarkana" is in  TX state.
PRINT ROW:
<class 'list'>
['   39', '   28', '   12', ' "N"', '     87', '   24', '   36', ' "W"', ' "Terre Haute"', ' IN']
	 The city,  "Terre Haute" is in  IN state.
PRINT ROW:
<class 'list'>
['   27', '   57', '    0', ' "N"', '     82', '   26', '   59', ' "W"', ' "Tampa"', ' FL']
	 The city,  "Tampa" is in  FL state.
PRINT ROW:
<class 'list'>
['   30', '   27', '    0', ' "N"', '     84', '   16', '   47', ' "W"', ' "Tallahassee"', ' FL']
	 The city,  "Tallahassee" is in  FL state.
PRINT ROW:
<class 'list'>
['   47', '   14', '   24', ' "N"', '    122', '   25', '   48', ' "W"', ' "Tacoma"', ' WA']
	 The city,  "Tacoma" is in  WA state.
PRINT ROW:
<class 'list'>
['   43', '    2', '   59', ' "N"', '     76', '    9', '    0', ' "W"', ' "Syracuse"', ' NY']
	 The city,  "Syracuse" is in  NY state.
PRINT ROW:
<class 'list'>
['   32', '   35', '   59', ' "N"', '     82', '   20', '   23', ' "W"', ' "Swainsboro"', ' GA']
	 The city,  "Swainsboro" is in  GA state.
PRINT ROW:
<class 'list'>
['   33', '   55', '   11', ' "N"', '     80', '   20', '   59', ' "W"', ' "Sumter"', ' SC']
	 The city,  "Sumter" is in  SC state.
PRINT ROW:
<class 'list'>
['   40', '   59', '   24', ' "N"', '     75', '   11', '   24', ' "W"', ' "Stroudsburg"', ' PA']
	 The city,  "Stroudsburg" is in  PA state.
PRINT ROW:
<class 'list'>
['   37', '   57', '   35', ' "N"', '    121', '   17', '   24', ' "W"', ' "Stockton"', ' CA']
	 The city,  "Stockton" is in  CA state.
PRINT ROW:
<class 'list'>
['   44', '   31', '   12', ' "N"', '     89', '   34', '   11', ' "W"', ' "Stevens Point"', ' WI']
	 The city,  "Stevens Point" is in  WI state.
PRINT ROW:
<class 'list'>
['   40', '   21', '   36', ' "N"', '     80', '   37', '   12', ' "W"', ' "Steubenville"', ' OH']
	 The city,  "Steubenville" is in  OH state.
PRINT ROW:
<class 'list'>
['   40', '   37', '   11', ' "N"', '    103', '   13', '   12', ' "W"', ' "Sterling"', ' CO']
	 The city,  "Sterling" is in  CO state.
PRINT ROW:
<class 'list'>
['   38', '    9', '    0', ' "N"', '     79', '    4', '   11', ' "W"', ' "Staunton"', ' VA']
	 The city,  "Staunton" is in  VA state.
PRINT ROW:
<class 'list'>
['   39', '   55', '   11', ' "N"', '     83', '   48', '   35', ' "W"', ' "Springfield"', ' OH']
	 The city,  "Springfield" is in  OH state.
PRINT ROW:
<class 'list'>
['   37', '   13', '   12', ' "N"', '     93', '   17', '   24', ' "W"', ' "Springfield"', ' MO']
	 The city,  "Springfield" is in  MO state.
PRINT ROW:
<class 'list'>
['   42', '    5', '   59', ' "N"', '     72', '   35', '   23', ' "W"', ' "Springfield"', ' MA']
	 The city,  "Springfield" is in  MA state.
PRINT ROW:
<class 'list'>
['   39', '   47', '   59', ' "N"', '     89', '   39', '    0', ' "W"', ' "Springfield"', ' IL']
	 The city,  "Springfield" is in  IL state.
PRINT ROW:
<class 'list'>
['   47', '   40', '   11', ' "N"', '    117', '   24', '   36', ' "W"', ' "Spokane"', ' WA']
	 The city,  "Spokane" is in  WA state.
PRINT ROW:
<class 'list'>
['   41', '   40', '   48', ' "N"', '     86', '   15', '    0', ' "W"', ' "South Bend"', ' IN']
	 The city,  "South Bend" is in  IN state.
PRINT ROW:
<class 'list'>
['   43', '   32', '   24', ' "N"', '     96', '   43', '   48', ' "W"', ' "Sioux Falls"', ' SD']
	 The city,  "Sioux Falls" is in  SD state.
PRINT ROW:
<class 'list'>
['   42', '   29', '   24', ' "N"', '     96', '   23', '   23', ' "W"', ' "Sioux City"', ' IA']
	 The city,  "Sioux City" is in  IA state.
PRINT ROW:
<class 'list'>
['   32', '   30', '   35', ' "N"', '     93', '   45', '    0', ' "W"', ' "Shreveport"', ' LA']
	 The city,  "Shreveport" is in  LA state.
PRINT ROW:
<class 'list'>
['   33', '   38', '   23', ' "N"', '     96', '   36', '   36', ' "W"', ' "Sherman"', ' TX']
	 The city,  "Sherman" is in  TX state.
PRINT ROW:
<class 'list'>
['   44', '   47', '   59', ' "N"', '    106', '   57', '   35', ' "W"', ' "Sheridan"', ' WY']
	 The city,  "Sheridan" is in  WY state.
PRINT ROW:
<class 'list'>
['   35', '   13', '   47', ' "N"', '     96', '   40', '   48', ' "W"', ' "Seminole"', ' OK']
	 The city,  "Seminole" is in  OK state.
PRINT ROW:
<class 'list'>
['   32', '   25', '   11', ' "N"', '     87', '    1', '   11', ' "W"', ' "Selma"', ' AL']
	 The city,  "Selma" is in  AL state.
PRINT ROW:
<class 'list'>
['   38', '   42', '   35', ' "N"', '     93', '   13', '   48', ' "W"', ' "Sedalia"', ' MO']
	 The city,  "Sedalia" is in  MO state.
PRINT ROW:
<class 'list'>
['   47', '   35', '   59', ' "N"', '    122', '   19', '   48', ' "W"', ' "Seattle"', ' WA']
	 The city,  "Seattle" is in  WA state.
PRINT ROW:
<class 'list'>
['   41', '   24', '   35', ' "N"', '     75', '   40', '   11', ' "W"', ' "Scranton"', ' PA']
	 The city,  "Scranton" is in  PA state.
PRINT ROW:
<class 'list'>
['   41', '   52', '   11', ' "N"', '    103', '   39', '   36', ' "W"', ' "Scottsbluff"', ' NB']
	 The city,  "Scottsbluff" is in  NB state.
PRINT ROW:
<class 'list'>
['   42', '   49', '   11', ' "N"', '     73', '   56', '   59', ' "W"', ' "Schenectady"', ' NY']
	 The city,  "Schenectady" is in  NY state.
PRINT ROW:
<class 'list'>
['   32', '    4', '   48', ' "N"', '     81', '    5', '   23', ' "W"', ' "Savannah"', ' GA']
	 The city,  "Savannah" is in  GA state.
PRINT ROW:
<class 'list'>
['   46', '   29', '   24', ' "N"', '     84', '   20', '   59', ' "W"', ' "Sault Sainte Marie"', ' MI']
	 The city,  "Sault Sainte Marie" is in  MI state.
PRINT ROW:
<class 'list'>
['   27', '   20', '   24', ' "N"', '     82', '   31', '   47', ' "W"', ' "Sarasota"', ' FL']
	 The city,  "Sarasota" is in  FL state.
PRINT ROW:
<class 'list'>
['   38', '   26', '   23', ' "N"', '    122', '   43', '   12', ' "W"', ' "Santa Rosa"', ' CA']
	 The city,  "Santa Rosa" is in  CA state.
PRINT ROW:
<class 'list'>
['   35', '   40', '   48', ' "N"', '    105', '   56', '   59', ' "W"', ' "Santa Fe"', ' NM']
	 The city,  "Santa Fe" is in  NM state.
PRINT ROW:
<class 'list'>
['   34', '   25', '   11', ' "N"', '    119', '   41', '   59', ' "W"', ' "Santa Barbara"', ' CA']
	 The city,  "Santa Barbara" is in  CA state.
PRINT ROW:
<class 'list'>
['   33', '   45', '   35', ' "N"', '    117', '   52', '   12', ' "W"', ' "Santa Ana"', ' CA']
	 The city,  "Santa Ana" is in  CA state.
PRINT ROW:
<class 'list'>
['   37', '   20', '   24', ' "N"', '    121', '   52', '   47', ' "W"', ' "San Jose"', ' CA']
	 The city,  "San Jose" is in  CA state.
PRINT ROW:
<class 'list'>
['   37', '   46', '   47', ' "N"', '    122', '   25', '   11', ' "W"', ' "San Francisco"', ' CA']
	 The city,  "San Francisco" is in  CA state.
PRINT ROW:
<class 'list'>
['   41', '   27', '    0', ' "N"', '     82', '   42', '   35', ' "W"', ' "Sandusky"', ' OH']
	 The city,  "Sandusky" is in  OH state.
PRINT ROW:
<class 'list'>
['   32', '   42', '   35', ' "N"', '    117', '    9', '    0', ' "W"', ' "San Diego"', ' CA']
	 The city,  "San Diego" is in  CA state.
PRINT ROW:
<class 'list'>
['   34', '    6', '   36', ' "N"', '    117', '   18', '   35', ' "W"', ' "San Bernardino"', ' CA']
	 The city,  "San Bernardino" is in  CA state.
PRINT ROW:
<class 'list'>
['   29', '   25', '   12', ' "N"', '     98', '   30', '    0', ' "W"', ' "San Antonio"', ' TX']
	 The city,  "San Antonio" is in  TX state.
PRINT ROW:
<class 'list'>
['   31', '   27', '   35', ' "N"', '    100', '   26', '   24', ' "W"', ' "San Angelo"', ' TX']
	 The city,  "San Angelo" is in  TX state.
PRINT ROW:
<class 'list'>
['   40', '   45', '   35', ' "N"', '    111', '   52', '   47', ' "W"', ' "Salt Lake City"', ' UT']
	 The city,  "Salt Lake City" is in  UT state.
PRINT ROW:
<class 'list'>
['   38', '   22', '   11', ' "N"', '     75', '   35', '   59', ' "W"', ' "Salisbury"', ' MD']
	 The city,  "Salisbury" is in  MD state.
PRINT ROW:
<class 'list'>
['   36', '   40', '   11', ' "N"', '    121', '   39', '    0', ' "W"', ' "Salinas"', ' CA']
	 The city,  "Salinas" is in  CA state.
PRINT ROW:
<class 'list'>
['   38', '   50', '   24', ' "N"', '     97', '   36', '   36', ' "W"', ' "Salina"', ' KS']
	 The city,  "Salina" is in  KS state.
PRINT ROW:
<class 'list'>
['   38', '   31', '   47', ' "N"', '    106', '    0', '    0', ' "W"', ' "Salida"', ' CO']
	 The city,  "Salida" is in  CO state.
PRINT ROW:
<class 'list'>
['   44', '   56', '   23', ' "N"', '    123', '    1', '   47', ' "W"', ' "Salem"', ' OR']
	 The city,  "Salem" is in  OR state.
PRINT ROW:
<class 'list'>
['   44', '   57', '    0', ' "N"', '     93', '    5', '   59', ' "W"', ' "Saint Paul"', ' MN']
	 The city,  "Saint Paul" is in  MN state.
PRINT ROW:
<class 'list'>
['   38', '   37', '   11', ' "N"', '     90', '   11', '   24', ' "W"', ' "Saint Louis"', ' MO']
	 The city,  "Saint Louis" is in  MO state.
PRINT ROW:
<class 'list'>
['   39', '   46', '   12', ' "N"', '     94', '   50', '   23', ' "W"', ' "Saint Joseph"', ' MO']
	 The city,  "Saint Joseph" is in  MO state.
PRINT ROW:
<class 'list'>
['   42', '    5', '   59', ' "N"', '     86', '   28', '   48', ' "W"', ' "Saint Joseph"', ' MI']
	 The city,  "Saint Joseph" is in  MI state.
PRINT ROW:
<class 'list'>
['   44', '   25', '   11', ' "N"', '     72', '    1', '   11', ' "W"', ' "Saint Johnsbury"', ' VT']
	 The city,  "Saint Johnsbury" is in  VT state.
PRINT ROW:
<class 'list'>
['   45', '   34', '   11', ' "N"', '     94', '   10', '   11', ' "W"', ' "Saint Cloud"', ' MN']
	 The city,  "Saint Cloud" is in  MN state.
PRINT ROW:
<class 'list'>
['   29', '   53', '   23', ' "N"', '     81', '   19', '   11', ' "W"', ' "Saint Augustine"', ' FL']
	 The city,  "Saint Augustine" is in  FL state.
PRINT ROW:
<class 'list'>
['   43', '   25', '   48', ' "N"', '     83', '   56', '   24', ' "W"', ' "Saginaw"', ' MI']
	 The city,  "Saginaw" is in  MI state.
PRINT ROW:
<class 'list'>
['   38', '   35', '   24', ' "N"', '    121', '   29', '   23', ' "W"', ' "Sacramento"', ' CA']
	 The city,  "Sacramento" is in  CA state.
PRINT ROW:
<class 'list'>
['   43', '   36', '   36', ' "N"', '     72', '   58', '   12', ' "W"', ' "Rutland"', ' VT']
	 The city,  "Rutland" is in  VT state.
PRINT ROW:
<class 'list'>
['   33', '   24', '    0', ' "N"', '    104', '   31', '   47', ' "W"', ' "Roswell"', ' NM']
	 The city,  "Roswell" is in  NM state.
PRINT ROW:
<class 'list'>
['   35', '   56', '   23', ' "N"', '     77', '   48', '    0', ' "W"', ' "Rocky Mount"', ' NC']
	 The city,  "Rocky Mount" is in  NC state.
PRINT ROW:
<class 'list'>
['   41', '   35', '   24', ' "N"', '    109', '   13', '   48', ' "W"', ' "Rock Springs"', ' WY']
	 The city,  "Rock Springs" is in  WY state.
PRINT ROW:
<class 'list'>
['   42', '   16', '   12', ' "N"', '     89', '    5', '   59', ' "W"', ' "Rockford"', ' IL']
	 The city,  "Rockford" is in  IL state.
PRINT ROW:
<class 'list'>
['   43', '    9', '   35', ' "N"', '     77', '   36', '   36', ' "W"', ' "Rochester"', ' NY']
	 The city,  "Rochester" is in  NY state.
PRINT ROW:
<class 'list'>
['   44', '    1', '   12', ' "N"', '     92', '   27', '   35', ' "W"', ' "Rochester"', ' MN']
	 The city,  "Rochester" is in  MN state.
PRINT ROW:
<class 'list'>
['   37', '   16', '   12', ' "N"', '     79', '   56', '   24', ' "W"', ' "Roanoke"', ' VA']
	 The city,  "Roanoke" is in  VA state.
PRINT ROW:
<class 'list'>

Pandas provides with an excellent library to process csv files. For more details, please refer to.

##  JSON module
Python comes built-in with a module called json which makes it easy for us to process data in json files.

In [9]:
import json

with open('./files/JSONsample.json') as f:
  data = json.load(f)

data # a nested dictionary

{'glossary': {'title': 'example glossary',
  'GlossDiv': {'title': 'S',
   'GlossList': {'GlossEntry': {'ID': 'SGML',
     'SortAs': 'SGML',
     'GlossTerm': 'Standard Generalized Markup Language',
     'Acronym': 'SGML',
     'Abbrev': 'ISO 8879:1986',
     'GlossDef': {'para': 'A meta-markup language, used to create markup languages such as DocBook.',
      'GlossSeeAlso': ['GML', 'XML']},
     'GlossSee': 'markup'}}}}}

For more please see: https://www.w3schools.com/python/python_json.asp

## XML IO