Q1: Print the first 10 numbers starting from 0 (using while loop)

Expected output:
0
1
2
3
4
5
6
7
8
9
10

Q2: Do the same as previous question but using a for loop (and range())

Q3: Accept number input from user and calculate sum of all number starting from 1 to the entered number (Use for and range)
For example, if user entered 10 the output should be 55.

Q4: Display a user inputed number and it's cube. Start cube calculation from 1 all the way to the inputed number (Use for and range)
Given:
input_number = 5

Expected output:
Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125

Q5 Print the following pattern (Use nested for - twice)
```
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*
```

Q6 Reverse a given integer number or string (use while)
Given:
309871

Expected output:

178903

# FUNCTIONS

Q7: Create a function that can accept two arguments, 'name' and 'age' and print their value:

Q8: Write a function my_func() which can accept any quantity of arguments and print all the arguments' values
Examnple:
func1(20, 40, 60)
func1(80, 100)

output:
func1(20, 40, 60)
20
40
60

func1(80, 100)
80
100

Q9: Create a function showEmployeeDetails() which should accept name, and salary and display both. If the salary is missing in the function call, it should show a default value of 9000 

For example:
showEmployeeDetails("Zia", 9000)
showEmployeeDetails("Tahir")

Output:
Employee Zia salary is: 9000
Employee Tahir salary is: 9000

Q10: Create a function returnMax that returns the largest item from the given list

aList = [4, 6, 8, 24, 12, 2]

Example:
printreturnMax(aList)

Output:
24