# Sequence Functions
There are a couple of useful functions that can be used on the following sequences:

In [57]:
my_string_sequence = 'I am a string sequence'
my_list_sequence = [23, False, 'Hello World', ['Nested', True, 12, 2.2]]
my_tuple_sequence = (21, True, 'Hello-World', ['Nested', True, 12, 2.2])
my_range = range(1, 100, 2)
# This range object contains the values [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

## Length of Sequence:  
### len(mySeq)
len is a python builtin function, returns the number of elements in the sequence mySeq.

In [58]:
length_of_str = len(my_string_sequence)
print(length_of_str)

22

In [59]:
print(len(my_list_sequence))

4

In [60]:
print(len(my_tuple_sequence))

4

In [61]:
print(len(my_range))

50

> Note: Since the index starts from 0, the last element of a sequence has index: len(seq)-1
>
> If we call `print(my_string_sequence[70])`, it will throw an error  ***IndexError: string index out of range***, but the following will work:

In [62]:
print(my_string_sequence[len(my_string_sequence)-1]) # where the last index is calculated via: len(my_string_sequence)-1

e

## Minimum and Maximum Values in a sequence 
### min() and max()
These are python builtin functions and are used to get the smallest and the largest value from the sequence respectively.

If the elements are strings this would be the first and last elements in lexicographic order (the order of words in a dictionary).

In [63]:
print(min(my_string_sequence)) # Our string has spaces which is the miniumum. Printing space:

In [64]:
print(max(my_string_sequence))

u

> **Note** that if any two elements in mySeq are incomparable (a string, a number or any other datatype for example), min and max will return errors **TypeError: '<' not supported between instances of 'str' and 'bool'**

In [65]:
# print(min(my_list_sequence))

Therefore, for min and max to work, all the datatypes in the sequence should be the same so that they can be compared to find the min and max value

In [66]:
my_list_sequence2 = [1,4,8,198,34,23,100,200]
print(min(my_list_sequence2))

1

In [67]:
print(max(my_list_sequence2))

200

In [68]:
my_tuple_sequence2 = ['Abbi', 'Hello', 'Acca', 'Zebra', 'Zinger', 'alpha', 'AAA']
print(min(my_tuple_sequence2))

AAA

In [69]:
print(max(my_tuple_sequence2))

alpha

In [70]:
my_range = range(1, 100, 2)
print(min(my_range))

1

In [71]:
print(max(my_range))

99

## Searching a sequence
### mySeq.index(x) 
This is not a python builtin function and is provided by the sequence. Returns the index of the **first** occurrence of x in mySeq. Note that if x isn't in mySeq index will return an error.my_tuple_sequence

In [72]:
my_string_sequence.index('a string')

5

The following will throw an error **ValueError: substring not found**

In [73]:
# my_string_sequence.index('a string1')

In [74]:
my_list_sequence.index('Hello World')

2

In [75]:
my_tuple_sequence.index(21)

In [80]:
my_range.index(21)

10

## Number of occurences in a Sequence
### mySeq.count(x) 

This is not a python builtin function and is provided by the sequence. Returns the number of occurrences of x in mySeq (that is, the number of elements in mySeq that are equal to x).

In [76]:
print(my_string_sequence.count('a'))

2

In [77]:
print(my_string_sequence.count('I am'))

1

In [78]:
print(my_list_sequence.count('21'))

0

In [79]:
print(my_tuple_sequence.count(['Nested', True, 12, 2.2]))

In [81]:
my_range.count(10)

0